body {
  font-family: Arial, sans-serif;
}

h2{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.expense-tracker {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #ccc;
  justify-content: space-around;
}

input,select{
  padding: 5px;
}

button{
  background: rgb(5, 121, 5);
  padding: 10px;
  color: white;
  border-radius: 10px;
  /* align-items: end; */
  margin-left: 40px;
  border: 1px solid;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}
